Q1:Create a new dataframe with only 4 feataures (and and Bankruptcy). Properly rename the columns to X1, X2, X7, and X10

In [5]:
import pandas as pd
import numpy as np
from scipy.io import arff
data = arff.loadarff('4year.arff')
df = pd.DataFrame(data[0])
df['bankruptcy'] = (df['class']==b'1')
new_data =pd.concat([df.iloc[:,[0,1,6,9]],df.loc[:,['bankruptcy']]],sort=False,axis=1)
new_data.columns = ['X1','X2','X7','X10','bankruptcy']
new_data.head()

         X1       X2        X7      X10  bankruptcy
0  0.159290  0.46240  0.189480  0.38330       False
1 -0.127430  0.46243 -0.127430  0.53757       False
2  0.070488  0.23570  0.086895  0.67689       False
3  0.136760  0.40538  0.136760  0.58938       False
4 -0.110080  0.69793 -0.110080  0.30207       False

Q2:Fill-in the missing values na with the mean. (See Ch 4 of PML)

In [6]:
new_data= new_data.fillna(new_data.mean())

Q3:Find the mean and std of the 4 features among all, bankrupt and still-operating companies (3 groups).

In [8]:
group1 = new_data
group2 = new_data[new_data.bankruptcy==True]
group3 = new_data[new_data.bankruptcy==False]
group1.describe()

                X1           X2           X7          X10
count  9792.000000  9792.000000  9792.000000  9792.000000
mean      0.043019     0.596404     0.059446     0.389040
std       0.359303     4.586887     0.533317     4.590064
min     -12.458000     0.000000   -12.458000  -445.910000
25%       0.001322     0.263163     0.003005     0.294510
50%       0.041374     0.467770     0.048840     0.510435
75%       0.111125     0.689183     0.126930     0.714285
max      20.482000   446.910000    38.618000    12.602000

In [9]:
group2.describe()

               X1          X2          X7         X10
count  515.000000  515.000000  515.000000  515.000000
mean    -0.068873    0.878355   -0.061538    0.103367
std      0.568076    1.945596    0.568432    1.946747
min     -4.050600    0.000357   -4.050600  -39.156000
25%     -0.145510    0.458885   -0.142590    0.105600
50%      0.000000    0.671030    0.000490    0.305830
75%      0.044640    0.882850    0.050749    0.516560
max      9.803700   40.157000    9.803700    0.999450

In [10]:
group3.describe()

                X1           X2           X7          X10
count  9277.000000  9277.000000  9277.000000  9277.000000
mean      0.049231     0.580752     0.066162     0.404899
std       0.343002     4.689694     0.530524     4.692934
min     -12.458000     0.000000   -12.458000  -445.910000
25%       0.003128     0.257220     0.004711     0.306400
50%       0.043545     0.457500     0.051804     0.519670
75%       0.113140     0.674850     0.129390     0.721390
max      20.482000   446.910000    38.618000    12.602000

Q4:How many companies satisfy the condition, X1 < mean(X1) - stdev(X1) AND X10 < mean(X10) - std(X10)?

In [11]:
len(new_data[(new_data.X1<new_data.X1.mean()-new_data.X1.std())&(new_data.X10<new_data.X10.mean()-new_data.X10.std())])

15

Q5:What is the ratio of the bankrupted companies among the sub-groups above?

In [13]:
a1=len(group1[group1.bankruptcy == True])/len(group1)
a2=len(group2[group2.bankruptcy == True])/len(group2)
a3=len(group3[group3.bankruptcy == True])/len(group3)
a1,a2,a3

(0.052593954248366014, 1.0, 0.0)